@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../assets/fonts/BebasNeue-Book.woff2') format('woff2'),
    url('../assets/fonts/BebasNeue-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Colors */

:root {
  --background-color: #2B2A30;
  --continue-color: #9d0000;
  --stop-color: #00aa51;
}


html {
  box-sizing: border-box;
  font-size: 24px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  align-items: center;
  background-color: var(--background-color, #456);
  color: #fff;
  display: flex;
  font-family: 'Bebas Neue Book', Arial, sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.container {
  position: relative;
}

.inputTime {
  align-items: center;
  background-color: #fff;
  color: #456;
  display: none;
  font-family: Montserrat, serif;
  font-size: 1rem;
  justify-content: center;
  margin: auto;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.inputTime.active {
  display: flex;
}

.inputTime label {
  text-align: center;
}

.inputTime .close {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
}

.circle {
  align-items: center;
  border-radius: 50%;
  /* border: 8px solid var(--continue-color, maroon); */
  border: 8px solid transparent;
  box-shadow: 0px 0px 30px 10px rgb(255 255 255 / 5%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.timer {
  font-size: 6rem;
  margin: 80px 0 40px;
}

.power {
  font-family: Montserrat, serif;
  font-size: 0.8rem;
  letter-spacing: 5px;
  margin-block-end: 30px;
  text-transform: uppercase;
}

.settings {
  background-size: cover;
  background: url('./../assets/images/gear.svg');
  cursor: pointer;
  height: 30px;
  opacity: 0.5;
  width: 30px;
}
